In [1]:
%run init.ipynb
%run init-tensor_product.ipynb
%run init-quantum_resources.ipynb

In [2]:
%autosave 60

Autosaving every 60 seconds

# 'for'

In [60]:
for j, k, l in product([0,1,2], repeat=3):
        print('j = {}, k = {}, l = {}, j*k*l = {}'.format(j,k,l,j*k*l))

j = 0, k = 0, l = 0, j*k*l = 0
j = 0, k = 0, l = 1, j*k*l = 0
j = 0, k = 0, l = 2, j*k*l = 0
j = 0, k = 1, l = 0, j*k*l = 0
j = 0, k = 1, l = 1, j*k*l = 0
j = 0, k = 1, l = 2, j*k*l = 0
j = 0, k = 2, l = 0, j*k*l = 0
j = 0, k = 2, l = 1, j*k*l = 0
j = 0, k = 2, l = 2, j*k*l = 0
j = 1, k = 0, l = 0, j*k*l = 0
j = 1, k = 0, l = 1, j*k*l = 0
j = 1, k = 0, l = 2, j*k*l = 0
j = 1, k = 1, l = 0, j*k*l = 0
j = 1, k = 1, l = 1, j*k*l = 1
j = 1, k = 1, l = 2, j*k*l = 2
j = 1, k = 2, l = 0, j*k*l = 0
j = 1, k = 2, l = 1, j*k*l = 2
j = 1, k = 2, l = 2, j*k*l = 4
j = 2, k = 0, l = 0, j*k*l = 0
j = 2, k = 0, l = 1, j*k*l = 0
j = 2, k = 0, l = 2, j*k*l = 0
j = 2, k = 1, l = 0, j*k*l = 0
j = 2, k = 1, l = 1, j*k*l = 2
j = 2, k = 1, l = 2, j*k*l = 4
j = 2, k = 2, l = 0, j*k*l = 0
j = 2, k = 2, l = 1, j*k*l = 4
j = 2, k = 2, l = 2, j*k*l = 8

In [61]:
print(type([0,1,2]))

<class 'list'>

# For ajustável com a quantidade de $n$

In [2]:
from itertools import product

In [3]:
n = 3
n_list = []
format_string = ', '.join(f'n{i} = {{{i}}}' for i in range(n))
for tup in product(range(n), repeat=n):
    print(tup)
    n_values = tuple(tup)
    n_list.append(n_values)
    print(format_string.format(*n_values))

(0, 0, 0)
n0 = 0, n1 = 0, n2 = 0
(0, 0, 1)
n0 = 0, n1 = 0, n2 = 1
(0, 0, 2)
n0 = 0, n1 = 0, n2 = 2
(0, 1, 0)
n0 = 0, n1 = 1, n2 = 0
(0, 1, 1)
n0 = 0, n1 = 1, n2 = 1
(0, 1, 2)
n0 = 0, n1 = 1, n2 = 2
(0, 2, 0)
n0 = 0, n1 = 2, n2 = 0
(0, 2, 1)
n0 = 0, n1 = 2, n2 = 1
(0, 2, 2)
n0 = 0, n1 = 2, n2 = 2
(1, 0, 0)
n0 = 1, n1 = 0, n2 = 0
(1, 0, 1)
n0 = 1, n1 = 0, n2 = 1
(1, 0, 2)
n0 = 1, n1 = 0, n2 = 2
(1, 1, 0)
n0 = 1, n1 = 1, n2 = 0
(1, 1, 1)
n0 = 1, n1 = 1, n2 = 1
(1, 1, 2)
n0 = 1, n1 = 1, n2 = 2
(1, 2, 0)
n0 = 1, n1 = 2, n2 = 0
(1, 2, 1)
n0 = 1, n1 = 2, n2 = 1
(1, 2, 2)
n0 = 1, n1 = 2, n2 = 2
(2, 0, 0)
n0 = 2, n1 = 0, n2 = 0
(2, 0, 1)
n0 = 2, n1 = 0, n2 = 1
(2, 0, 2)
n0 = 2, n1 = 0, n2 = 2
(2, 1, 0)
n0 = 2, n1 = 1, n2 = 0
(2, 1, 1)
n0 = 2, n1 = 1, n2 = 1
(2, 1, 2)
n0 = 2, n1 = 1, n2 = 2
(2, 2, 0)
n0 = 2, n1 = 2, n2 = 0
(2, 2, 1)
n0 = 2, n1 = 2, n2 = 1
(2, 2, 2)
n0 = 2, n1 = 2, n2 = 2

In [104]:
print(n_list)

[(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 2, 0), (0, 2, 1), (0, 2, 2), (1, 0, 0), (1, 0, 1), (1, 0, 2), (1, 1, 0), (1, 1, 1), (1, 1, 2), (1, 2, 0), (1, 2, 1), (1, 2, 2), (2, 0, 0), (2, 0, 1), (2, 0, 2), (2, 1, 0), (2, 1, 1), (2, 1, 2), (2, 2, 0), (2, 2, 1), (2, 2, 2)]

In [38]:
n = 2
format_string = ', '.join(f'n{i} = {{{i}}}' for i in range(n))
for tup in product(range(2), repeat=n):
    n_values = tuple(tup)
    print(format_string.format(*n_values))

n0 = 0, n1 = 0
n0 = 0, n1 = 1
n0 = 1, n1 = 0
n0 = 1, n1 = 1

# for ajustável com um tipo de operação

In [42]:
from itertools import product

def perform_operation(n_values):
    result = 0
    for i in range(n-1):
        result += n_values[i]
    result = result*n_values[-1]
    return result

n = 3
format_string = ', '.join(f'n{i} = {{{i}}}' for i in range(n))
for tup in product(range(2), repeat=n):
    n_values = tuple(tup)
    result = perform_operation(n_values)
    print(format_string.format(*n_values), "->", result)

n0 = 0, n1 = 0, n2 = 0 -> 0
n0 = 0, n1 = 0, n2 = 1 -> 0
n0 = 0, n1 = 1, n2 = 0 -> 0
n0 = 0, n1 = 1, n2 = 1 -> 1
n0 = 1, n1 = 0, n2 = 0 -> 0
n0 = 1, n1 = 0, n2 = 1 -> 1
n0 = 1, n1 = 1, n2 = 0 -> 0
n0 = 1, n1 = 1, n2 = 1 -> 2

In [29]:
print(n_values[-1])

3

In [41]:
n = 4
format_string = ' '.join(f'{{{i}}}' for i in range(n))
for tup in product(range(2), repeat=n):
    n_values = tuple(tup)
    print(format_string.format(*n_values))

0 0 0 0
0 0 0 1
0 0 1 0
0 0 1 1
0 1 0 0
0 1 0 1
0 1 1 0
0 1 1 1
1 0 0 0
1 0 0 1
1 0 1 0
1 0 1 1
1 1 0 0
1 1 0 1
1 1 1 0
1 1 1 1

# for ajustável para produção de tabela de binário com a operação 'or'

In [6]:
def perform_operation(n_values):
    result = n_values[0]
    for i in range(1, n):
        result = n_values[i] and result
    return result

n = 4
format_string = ' ^ '.join(f'{{{i}}}' for i in range(n))
for tup in product(range(2), repeat=n):
    n_values = tuple(tup)
    result = perform_operation(n_values)
    print(format_string.format(*n_values), "-", result)

0 ^ 0 ^ 0 ^ 0 - 0
0 ^ 0 ^ 0 ^ 1 - 0
0 ^ 0 ^ 1 ^ 0 - 0
0 ^ 0 ^ 1 ^ 1 - 0
0 ^ 1 ^ 0 ^ 0 - 0
0 ^ 1 ^ 0 ^ 1 - 0
0 ^ 1 ^ 1 ^ 0 - 0
0 ^ 1 ^ 1 ^ 1 - 0
1 ^ 0 ^ 0 ^ 0 - 0
1 ^ 0 ^ 0 ^ 1 - 0
1 ^ 0 ^ 1 ^ 0 - 0
1 ^ 0 ^ 1 ^ 1 - 0
1 ^ 1 ^ 0 ^ 0 - 0
1 ^ 1 ^ 0 ^ 1 - 0
1 ^ 1 ^ 1 ^ 0 - 0
1 ^ 1 ^ 1 ^ 1 - 1

In [7]:
def perform_operation(n_values):
    result = n_values[0]
    for i in range(1, n):
        result = n_values[i] or result
    return result

n = 4
format_string = ' v '.join(f'{{{i}}}' for i in range(n))
for tup in product(range(2), repeat=n):
    n_values = tuple(tup)
    result = perform_operation(n_values)
    print(format_string.format(*n_values), "-", result)

0 v 0 v 0 v 0 - 0
0 v 0 v 0 v 1 - 1
0 v 0 v 1 v 0 - 1
0 v 0 v 1 v 1 - 1
0 v 1 v 0 v 0 - 1
0 v 1 v 0 v 1 - 1
0 v 1 v 1 v 0 - 1
0 v 1 v 1 v 1 - 1
1 v 0 v 0 v 0 - 1
1 v 0 v 0 v 1 - 1
1 v 0 v 1 v 0 - 1
1 v 0 v 1 v 1 - 1
1 v 1 v 0 v 0 - 1
1 v 1 v 0 v 1 - 1
1 v 1 v 1 v 0 - 1
1 v 1 v 1 v 1 - 1